
*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --color-one: green;
    --color-two: red;
    --color-three: blue;
    --color-four: yellow;

}

body {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gameboardsContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 800px;
   
    display: flex;
    gap: 1rem;
    /* justify-content: center;
    align-items: center */
    
    
}
.boardOne,
.boardTwo {
    flex-grow: 1;

    display: grid;
    
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid var(--color-one);
    padding: .1rem;
    color: rgb(241, 139, 29);
    border-radius: 1.1%;
    gap:.1rem
  
}
.row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap:.1rem  

}

.cell {
   
    border: 1.6px solid var(--color-one); 
   
    border-radius: 10%; 
      
}

.cell.ship-1,
.cell.ship-2,
.cell.ship-3,
.cell.ship-4,
.cell.ship-5,
.cell.ship-6{
    background-color: blue;
}


.cell.hit {
    background-color:  grey;
}
.cell.hit {
    background-color:  grey;
}

.cell.ship-1.hit,
.cell.ship-2.hit,
.cell.ship-3.hit,
.cell.ship-4.hit,
.cell.ship-5.hit,
.cell.ship-6.hit{
    background-color: red;
}

.cell.hit.sunk {
    background-color: black;
}

.cell.highlight {
    background-color: blueviolet;
}


.uiContainder,
.axisContainer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.axisButton {
   
    padding: 10px 20px;
}

.message {
    background-color: aqua;
}

.resetGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 128, 128, 0.8); 
    

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60vw;
    height: 60vh;
}

.resetGame.show {
    display: flex;
}

.playAgainBtn {
    background-color: brown;
    opacity: 1;
    
}

.playAgainBtn:hover {
    background-color: brown;
    opacity: 1;
    font-size: .9rem;
    color: rgb(214, 227, 99);

}

