
*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --color-1: #3B5BA5;
    --color-2:#E87A5D;
    --color-3: #F3B941;
   

}

body {
   
    margin: 0;
    padding: 0;
    font-family:monospace;
    overflow: hidden;
}

.mainName {
    color: var(--color-2);
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    font-weight: 700;

}

.gameContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 1px solid beige;
}
.gameContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/OIG.Nw9miblp3G.png);
    background-size:cover;
    opacity: 0.2; 
    z-index: -1; 
  }

.gameboardsContainer {

    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 800px;
   
    display: flex;
    gap: 1rem;
 
}
.boardOne,
.boardTwo {
    flex-grow: 1;

    display: grid;
    
    grid-template-rows: repeat(10, 1fr);
    border: .3rem solid var(--color-1);
    padding: .1rem;
    /* color: rgb(241, 139, 29); */
    border-radius: 1.1%;
    gap:.1rem
  
}
.row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap:.1rem  

}

.cell {
   box-sizing: border-box;
    border: .1rem solid var(--color-1); 
   
    border-radius: 10%; 
      
}

.cell.ship-1,
.cell.ship-2,
.cell.ship-3,
.cell.ship-4,
.cell.ship-5,
.cell.ship-6{
    background-color: var(--color-3);
}
.cell.ship-1.hide,
.cell.ship-2.hide,
.cell.ship-3.hide,
.cell.ship-4.hide,
.cell.ship-5.hide,
.cell.ship-6.hide{
    background: inherit;
}

.cell.hit{
    position: relative;
    
}

.cell.hit::after {
    content: '';
    background: rgb(0, 0, 0);
    height: 1rem;
    width: 1rem; 
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.cell.ship-1.hit,   
.cell.ship-2.hit,
.cell.ship-3.hit,
.cell.ship-4.hit,
.cell.ship-5.hit,
.cell.ship-6.hit{
    border: .1rem solid var(--color-3);
    position: relative;
    /* background-color: red; */
}
.cell.ship-1.hit::after,
.cell.ship-2.hit::after,
.cell.ship-3.hit::after,
.cell.ship-4.hit::after,
.cell.ship-5.hit::after,
.cell.ship-6.hit::after{
    
    content: '';
    background: rgb(158, 14, 14);
    height: 1rem;
    width: 1rem; 
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.cell.hit.sunk {
    background-color: black;
    opacity: 50%;
}

.cell.highlight {
    background-color: var(--color-2);
    opacity: 40%;
}


.uiContainder,
.axisContainer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.axisButton {
   padding: 10px 20px;
   background-color: var(--color-3);
   color: var(--color-1);
   font-size: larger;
   border: 4px solid var(--color-2);
   border-radius: 10px;
}

.axisButton:hover {
    color: var(--color-3) ;
    border: 4px solid var(--color-2);
    background-color: var(--color-1);
}

.message {
    color: rgb(19, 117, 203, 0);
    font-weight: 300;
    font-size: 1.5rem;
}
span.fade{
 
    color: var(--color-2);
}

.resetGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 1;
 
    background-color:rgba(255, 255, 255, 0.9); 
    border: 7px solid var(--color-3);
    border-radius: 4px;
    

    display: none;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;

    gap: 3rem;
    width: 60vw;
    height: 60vh;
}

.resetGame.show {
    display: flex;
    
}

.playAgainBtn {
   
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--color-1);
    background-color: var(--color-3);

    border: 4px solid var(--color-2);
    border-radius: 2px;
    
    
}

.playAgainBtn:hover {
    
    
    font-size: 1.3rem;
    color: var(--color-1);
    background-color: var(--color-2);
    border: 4px solid var(--color-3) ;

}

.winningMessage {
    color: var(--color-3);
    font-weight: 600;
    font-size: 2rem;
}




